<div id="div_head">
    <div id="div_img"></div>
    <div id="div_btn_head">
        
            <button  id="allShifts" routerLink='/allShifts' mat-raised-button id="btn_log" color="primary">All Shifts</button>
            <button   id="allWorkers" routerLink='/allWorkers' mat-raised-button id="btn_log" color="primary">All Workers</button>
            
        
    </div>
    <!-- <p id="user_p">Hello, <span>{{logUser['user']['username']}}</span></p> -->
    <button class ="btn" id="logout" (click)="logout()" mat-raised-button color="primary">Logout</button>
</div>
